.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.panel{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tablero{
    text-align: center;
}

.fecha{
    margin: 20px 0;
}

form label{
    text-align: left;
}

form input{
    text-align: left;
}
