.App {
  text-align: center;
  position: relative;
}

.panel{
    padding-top: 50px;
    padding-bottom: 50px;
}

.tablero{
    text-align: center;
}

.fecha{
    margin: 20px 0;
}

form label{
    text-align: left;
}

form input{
    text-align: left;
}
