.App {
  text-align: center;
  position: relative;
}

.example-warper {
  width: 100%;
  height: 450px;
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
  text-align: "center";
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.panel{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tablero{
    text-align: center;
}

.fecha{
    margin: 20px 0;
}

form label{
    text-align: left;
}

form input{
    text-align: left;
}
